html, body{
    margin: 0;
    padding: 0;
}

header h1{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: rgb(63, 209, 63);
    color: blue;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 0;
    margin-top: 0;
    margin-right: 0;
    background-color: aquamarine;
    width: auto;
}
nav a{
    border-style: groove;
    border-radius: .5rem;
    padding: .3rem;
    background-color: yellow;
    color: #b90101;
}
nav a:hover{
    background-color: aqua;
}

nav a:active{
    border: hidden;
}